body{
margin:0;
background:#050816;
font-family:sans-serif;
color:white;
}

.header{
text-align:center;
padding:13px;
font-size:20px;
background:#0b1023;
}

#app{
padding:20px;
}

/* ⭐ STAR CARD */
.star-card{
width:90%;
height:200px;
margin:20px auto;
border-radius:20px;

background-image: url("./1782246911197.png");
background-size: cover;
background-position: center;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

position:relative;
overflow:hidden;
}

/* overlay غامق */
.star-card::before{
content:"";
position:absolute;
inset:0;
background:rgba(0,0,0,0.5);
}

/* النص فوق الصورة */
.star-card h2,
.stars-box{
position:relative;
z-index:1;
}

/* النجوم */
.stars-box{
margin-top:10px;
font-size:26px;
color:gold;
font-weight:bold;
}

/* 🔥 زر التعدين */
.mine-btn{
margin-top:15px;
padding:10px 20px;
border:none;
border-radius:12px;
background:#ffb300;
color:black;
font-weight:bold;
cursor:pointer;
transition:0.2s;
}

.mine-btn:hover{
transform:scale(1.05);
}
